*{
  box-sizing: border-box;
  font-family: Comic Sans MS, cursive, sans-serif;
}

.boxes{
  margin-top:5%;
}
body{
  background-color:#dfe6e9;
  margin:auto;
  width:95%;
}

h2{
  margin-top:40px;
  text-align:center;
}

.box1 ,.box2 ,.box3{
    width: 32.5%;
    height:170px;
    background-color: #535c60;
    border:2px solid black;
    float:left;
    overflow:hidden;
}
.box1 , .box2{
  margin-right:1.25%;
}

.ch , .be , .su{
  margin:-2px;
  float:right;
  width:150px;
  border:2px solid black;
  padding:3px 0px;
  text-align:center;
}
.ch{
  color:black;
  background-color:#E9967A;
  font-weight: bold;
}
.be{
  color:white;
  background-color:#B22222;
  font-weight: bold;
}
.su{
  color:black;
  background-color:#F0E68C;
  font-weight: bold;
}

.content{
  clear:right;
  padding:10px;
  font-size:17px;
}

/*----------------tablet version---------------------*/
@media (max-width: 991px) and (min-width: 768px) {
  .box1 ,.box2{
    width: 48%;
    margin:0;
  }
  
  .box1{
    margin-right:4%;
  }
 
  .box3{
    margin-top:20px;
    width:100%;
  }
}

/*----------------mobile version---------------------*/
@media (max-width: 767px){
  .box1 ,.box2 , .box3{
    width:100%;
    margin-bottom:20px;
  }
}